@font-face {
    font-family: Tokyo;
    src: url(../../tokyo-geisha-font/TokyoGeishaDemoRegular-WylqA.otf);
}
@font-face {
    font-family: Ukiyo;
    src: url(../../ukiyo-mind-font/UkiyoMindDemoRegular-WylvY.otf);
}
@font-face {
    font-family: Osake;
    src: url(../../osake-font/Osake-x3oqj.otf);
}

.navbar {
    width: 100%;
    height: 20%;
    background-color: #160c35;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.727) 0px 50px 100px -20px,rgba(0, 0, 0, 0.753) 0px 30px 60px -30px, rgba(10, 37, 64, 0.742) 0px -2px 6px 0px inset;
    box-shadow: rgba(149, 40, 159, 0.388) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navTitle{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
}

.navTitle img {
    height: 88%;
    border-radius: 50%;
}

.navPages {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 10px; */
    /* border: 2px solid red; */
    font-family: Osake;
}

.navPages div {
    cursor: pointer;
}

.linkPage {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 30%;
    height: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 7px;
    /* border: 2px solid #f854ff; */
}

.linkPage:hover {
    border-left: 4px solid #f854ff;
    height: 20%;
    transition: all .3s ease-in-out;
}

.linkPageActive {
    text-decoration: none;
    color: #f854ff;
    font-size: 20px;
    border-left: 4px solid #f854ff;
    height: 20%;
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
}
